[Unit]
Description=Conductor Web Application Server

[Service]
User=conductor
Type=forking
ExecStart=
	# Start one conductor program for each configured application
ExecStop=

