%% -*- mode: Erlang; -*-

%% Dependencies
{deps, [
	{mimetypes, ".*", {
		git, "git://github.com/spawngrid/mimetypes.git",
		{branch, master}
	}},
	{uuid, ".*", {
		git, "git://github.com/okeuday/uuid.git",
		{branch, master}
	}},
	{dynamic_compile, ".*", {
		git, "git://github.com/lordmetroid/dynamic_compile.git",
		{branch, master}
	}},
	{hackney, ".*", {
		git, "git://github.com/benoitc/hackney.git",
			{branch, master}
	}},
	{pgapp, ".*", {
		git, "git://github.com/epgsql/pgapp.git",
		{branch, master}
	}},
	{oauth, ".*", {
		git, "https://github.com/tim/erlang-oauth.git",
		{branch, master}
	}},
	{webmachine, ".*", 	{
		git, "git://github.com/webmachine/webmachine.git",
		{branch, master}
	}},

	{lager, ".*", {
		git, "git://github.com/basho/lager.git",
		{branch, master}
	}},

	{walrus, ".*", {
		git, "git://github.com/lordmetroid/walrus.git",
		{branch, master}
	}}
]}.

