%% -*- mode: Erlang; -*-

%% Dependencies
{deps, [
	%% Basho
	{webmachine, ".*", 	{
		git, "git://github.com/basho/webmachine.git",
		{branch, master}
	}},
	{lager, ".*", {
		git, "git://github.com/basho/lager.git",
		{branch, master}
	}},

	{mimetypes, ".*", {
		git, "git://github.com/spawngrid/mimetypes.git",
		{branch, master}
	}},
	{uuid, ".*", {
		git, "git://github.com/okeuday/uuid.git",
		{branch, master}
	}},
	{dynamic_compile, ".*", {
		git, "git://github.com/lordmetroid/dynamic_compile.git",
		{branch, master}
	}},

	%% Benoitc
	{couchbeam, ".*", {
		git, "git://github.com/benoitc/couchbeam.git",
			{branch, master}
	}},

	%% Monkey Factory
	{symphony, ".*", {
		git, "git://github.com/lordmetroid/symphony.git",
		{branch, master}
	}}
]}.

