{paths, ["apps", "deps"]}.
{default_release, conductor, "1"}.

%% Do not ship Erlang VM in the release
{inclde_erts, false}.

{release, {conductor, "1"}, [
	mimetypes,
	uuid,
	dynamic_compile,
	lager,

	webmachine,
	symphony,
	conductor,
]}

%% Erlang VM arguments
{vm_args, ".config/erlrc"}.


{deps, [
	{webmachine, ".*", {git, "git://github.com/basho/webmachine.git"}},
	{dynamic_compile, ".*", {git, "git://github.com/lordmetroid/dynamic_compile.git"}},
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git"}},
	{uuid, ".*", {git, "git://github.com/okeuday/uuid.git"}},
	{symphony, ".*", {git, "git://github.com/lordmetroid/symphony.git"}}
]}.
